= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.hidden_field :remember_me, value: 1
  .d-flex.justify-content-center
    .form-group.col-md-4
      = f.text_field :login, class: 'form-control'
  .d-flex.justify-content-center
    .form-group.col-md-4
      = f.password_field :password, autocomplete: "current-password", class: 'form-control'
  .d-flex.justify-content-center
    .col-md-4
      = f.submit t('devise.sessions.new.login'), class: 'btn btn-success btn-block'
      %br
  .d-flex.justify-content-center
    .col-md-4
      = link_to t('devise.sessions.new.forgot_password'), new_password_path(resource_name), class: 'btn btn-secondary btn-block'
      = link_to t('devise.instructions_confirmation'), new_confirmation_path(resource_name), class: 'btn btn-secondary btn-block'

