%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          = t('layouts.navigation.home')
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          = t('layouts.navigation.list_payments')
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          = t('layouts.navigation.home')
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          = t('layouts.navigation.home')
    %form.form-inline.my-2.my-lg-0
      %ul.navbar-nav.mr-auto
        - if user_signed_in?
          %li.nav-item.active
            - name = (current_user.first_name && current_user.surname ? "#{current_user.first_name} #{current_user.surname}" : current_user.email)
            = link_to name, edit_user_registration_path, class: 'nav-link'
          %li.nav-item.active
            = link_to t('layouts.navigation.logout'), destroy_user_session_path, method: :delete, class: 'nav-link'
        - else
          %li.nav-item.active
            = link_to t('layouts.navigation.login'), new_user_session_path, class: 'nav-link'
          %li.nav-item.active
            = link_to t('layouts.navigation.sign_up'), new_user_registration_path, class: 'nav-link'


